<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Spinner - Overflow</title>
    <link rel="stylesheet" href="{{=URL('static','css/jquery-ui.css')}}"/>
    <script src="{{=URL('static','js/jquery.js')}}"></script>
    <script src="{{=URL('static','js/jquery.js')}}"></script>
    <script>
  $( function() {
    $( "#spinner" ).spinner({
      spin: function( event, ui ) {
        if ( ui.value > 10 ) {
          $( this ).spinner( "value", -10 );
          return false;
        } else if ( ui.value < -10 ) {
          $( this ).spinner( "value", 10 );
          return false;
        }
      }
    });
  } );

    </script>
</head>
<body>

<p>
    <label for="spinner">Select a value:</label>
    <input id="spinner" name="value">
</p>


</body>
</html>