{{extend 'blanklayout.html'}}

<style>
    .passwd-container {
        display: none;
    }

    #start {
        height: 150px;
        padding-left: 4%;
        padding-right: 4%;
        font-size: 3em;
    }

    @media print {
        .passwd-container {
            display: inline-block;
            font-size: 1.7em;
            border: 1px solid black;
            min-width: 190px;
            padding: 12px;
            text-align: center;
        }

        .invisible-ink {
            display: none;
        }
    }

</style>

<center class="invisible-ink">
    <div style="height: 100%; position: relative;">
        <div style="margin-bottom: 10%;">
            <h2>Print this page to get your list of passwords.</h2>
            <h3>Once you are ready, push the button below to start.</h3>
        </div>
        <div>
            <form action="{{=URL('playtime')}}"
                  enctype="multipart/form-data" method="post">
                <input type="hidden" name="igniter" value="{{=reality_check}}">
                <input id="start" type="submit" class="btn btn-default invisible-ink" value="Start">
            </form>
        </div>
    </div>
</center>

<div style="text-align: center;">
    {{for password in passwords:
    =DIV(password, _class='passwd-container')
    pass}}
</div>
