{{extend 'blanklayout.html'}}

<style>
    #start,
    #continue {
        height: 150px;
        padding-left: 4%;
        padding-right: 4%;
        font-size: 2.2em;
    }
</style>

<center>
    {{if session.playtime.session_id is None:}}
    <input id="start" type="submit" class="btn btn-default" value="Start session" onclick="javascript:window.location.assign('{{=URL('config')}}')">
    {{else:}}
    <input id="continue" type="submit" class="btn btn-default" value="Continue session" onclick="javascript:window.location.assign('{{=URL('playtime')}}')">
    {{pass}}
</center>