{{extend 'blanklayout.html'}}

<style>
    #heartbeat {
        position: absolute;
        font-size: 5.5em;
        font-family: u1f400;
        top: 0px;
        line-height: 55px;
        right: 0px;
    }
</style>

<script>
    $(document).ready(function(){
        var heartbeat = setInterval(function(){
            jQuery.post("{{=URL('utils', 'heartbeat')}}", {}, function(data){
                console.log(data)
            },"json" );
        }, 10000);
    });
</script>

<div id="heartbeat">&#128420;</div>