{{extend 'blanklayout.html'}}

<style>
    #heartbeat.beat {
        opacity: 1;
    }

    #heartbeat.broken {
        color: red;
        opacity: 1;
    }

    #heartbeat {
        position: absolute;
        font-size: 5.5em;
        font-family: u1f400;
        top: 0px;
        line-height: 55px;
        right: 0px;
        opacity: 0;
    }

    #countdown-container {
        position: absolute;
    }

    #countdown {
        display: inline-block;
        background-color: #eeeeee;
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 4px;
    }

    #trial {
    }

    #outer-container {
        overflow: hidden;
        transition: height 0.3s;
        height: 500px;
        padding: 10px;
        width: 70%;
        margin: 50px;
        margin-left: auto;
        margin-right: auto;
        /*border: 1px solid;/*
        /*border-radius: 4px;/*

    }

</style>

<script>

    var interval = 1000; // ms
    var expected = Date.now();
    var additional = 0;
    var countdown_val = 0;

    function countdown() {
        var dt = Date.now() - expected; // drift
        if (dt > interval) {
            // something really bad happened. Maybe the browser (tab) was inactive?
            // possibly special handling to avoid futile "catch up" run
        }

        if (countdown_val % 5 == 0 || countdown_val <= 5 || countdown_val <= 0) {
            var before = Date.now()
            jQuery.post("{{=URL('utils', 'resync.json')}}")
                .done(function(data, status) {
                    additional = Date.now() - before;
                    countdown_val = Math.floor((data.next_checkpoint - Date.now() + additional)/1000);
                    if (data.status === "OVERDUE") {
                        trial();
                    }
                });
        }

        if (countdown_val - 10 < 0) {
            $("#countdown").html("OVERDUE");
            $("#lock").slideUp();
        } else {
            $("#countdown").html(Math.round(countdown_val - 10).toString().toMinutes());
        }

        if (countdown_val - 10 > 5) {
            $("#countdown").effect('highlight', { color: '#ffff99'});
        } else if (countdown_val - 10 <= 5 && countdown_val - 10 >= 0) {
            $("#countdown").effect('highlight', { color: '#ff4444'});
        } else {
            $("#countdown").css('background-color', '#ff4444');
        }

        countdown_val = countdown_val - 1;

        expected += interval;
        setTimeout(countdown, Math.max(0, interval - dt - additional)); // take into account drift
        additional = 0;
    }

    function heartbeat() {

        jQuery.post("{{=seclink}}")
            .done(function(data, status) {
                $("#heartbeat").removeClass();
                $("#heartbeat").addClass("beat", 500, function() {
                    $(this).removeClass("beat", 500);
                });
            })
            .fail(function(data, status) {
                $("#heartbeat").addClass("broken", 500);
            });
    };

    function trial() {
        $("#countdown").css('background-color', '#eeeeee');
        if (countdown_val - 9 < 0) {
            $("#countdown").html("OVERDUE");
        } else {
            $("#countdown").html(Math.round(countdown_val - 9).toString().toMinutes());
            jQuery.post("{{=URL('trials', 'index')}}")
                .done(function(data, status) {
                    $("#trial").html(data);
                });
        }
    }

    $(document).ready(function() {
        heartbeat();
        heartbeat_interval = setInterval(heartbeat, 10000);
        countdown_val = {{=countdown}};
        $("#countdown").html(countdown_val.toString().toMinutes());
        countdown();
        trial();
    });

</script>
<div class="countdown-container">
    <center>
        <div id="countdown" class="invisible-ink"></div>
    </center>
</div>

<div id="heartbeat">&#128420;</div>
<div>
    <div style="display: table;" id="outer-container">
        <center style="display: table-cell; vertical-align: middle;">
            <div id="trial"></div>
        </center>
    </div>
</div>